nav {
    display: flex;
    justify-content: flex-end;
    position: fixed;
    width: 100vw;
    height: 50px;
    z-index: 100;
    background: rgba(0,0,0,0.8);
    backdrop-filter: saturate(180%) blur(10px);
    -webkit-backdrop-filter: saturate(180%) blur(10px);
    color: rgba(200, 229, 255, 0.8);
}

nav a:link{color:inherit}
nav a:visited{color:inherit}
nav a:hover{color:inherit}

nav ul{
    display: flex;
    flex-direction: column;
    width: 100%;
    align-items: center;
    justify-content: center;
}


nav li {
    display: none;
    justify-content: center;
}

ul:hover {
    justify-content: flex-start;
    cursor: pointer;
}

ul:hover li {
    width: 100%;
    padding: 4px 0;
    display: flex;
    justify-content: center;
    background: #010203;
}

nav a {
    user-select: none;
    font-family: 'Cinzel', serif;
    font-size: 16px;
    text-decoration: none;
}

nav .active {
    color: rgba(200, 229, 255, 0.8);
    text-shadow: 0px 0px 8px rgba(200, 229, 255, 1);
    font-weight: 600;
    display: flex;
}

@keyframes text_glow {
    0% {
        color: rgba(200, 229, 255, 0.8);
    }
    100% {
        color: rgba(200, 229, 255, 1);
        text-shadow: 0px 0px 6px rgba(200, 229, 255, 1)
    }
}

nav a:hover{
    animation: text_glow 1s ease-in-out alternate infinite;
}


body {
    background-color: black;
}

header {
    height: 50px;
}

.skip{
    background: white;
    left: 0;
    padding: 6px;
    position: absolute;
    top: -40px;
    -webkit-transition: top 1s ease-out;
    transition: top 1s ease-out;
    z-index: 1000;
}

.skip:focus{
    top:20px;
    color: black;
    text-decoration-style: solid;
}

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    overflow: hidden;
}

.container figure {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
}

.container figcaption {
    text-transform: uppercase;
    position: absolute;
    bottom: 70%;
    transform: translate(0, 50%);
    font-size: 32px;
    font-weight: bold;
    color: white;
    text-align: center;
    background-color: rgba(0,0,0,0.8);
    padding: 8px 0;
    width: 100%;
}

.container img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: 50% 50%;
    box-sizing: border-box;
    transition: 0.6s ease-in-out;
    cursor: pointer;
}

.container img:hover {
    transform: scale(1.1);
    z-index: 10;
}


#grid_layout {
    display: grid;
    height: 100vh;
    grid-template-rows: 50px 70vw 1fr 60px;
}

#grid_layout header {
    grid-row: 1 / span 1;
}

#grid_layout main {
    grid-row: 2 / span 1;
}

#grid_layout aside {
    grid-row: 3 / span 1;
    color:rgba(200, 229, 255, 0.8);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
}

#grid_layout aside i {
    font-size: 24px;
    color:rgba(200, 229, 255, 1);
}

#grid_layout aside a{
    text-decoration: none;
    text-align: center;
    line-height: 1.5;
    font-size: 14px;
}

#grid_layout footer {
    grid-row: 4 / span 1;
}


#intro {
    display: flex;
    position: relative;
    align-items: flex-end;    
    justify-content: flex-end;
    background-image: url("../img/background.jpg");
    height: 70vw;
    background-size: cover;
    overflow: hidden;
}

#jiangwen {
    position: relative;
    height: 120%;
    animation: flyin 1s ease;
}

#quote_cn {
    color: rgba(200, 229, 255, 1);
    position: absolute;
    margin: 0 40% 0 6%;
    top: 16%;
    font-size: 12px;
    line-height: 1.6;
    text-align: end;
    font-family: 'Ma Shan Zheng', cursive;
    z-index: 10;
}

#quote_en {
    color: rgba(200, 229, 255, 1);
    position: absolute;
    margin: 0 40% 0 6%;
    top: calc(16% + 70px);
    font-size: 12px;
    line-height: 1.6;
    text-align: end;
    font-family: 'Courgette', cursive;
    z-index: 10;
}

@keyframes flyin {
    from{ left: 200px;}
    to {left: 0}
}

@media (prefers-reduced-motion) {
    #jiangwen {
        animation: none;
    }
}

footer {
    background-color: black;
    color:rgba(200, 229, 255, 1);
    display: flex;
    justify-content: center;
    align-items: flex-end;
    font-size: 14px;
    padding: 8px;
}

#moreInfo_page main, #awards_page main {
    padding: 16px;
    color:rgba(200, 229, 255, 0.8);
}

#moreInfo_page main p, #awards_page main p {
    line-height: 1.5;
    font-size: 16px;
    margin: 32px 0;
}

@media all and (min-width: 500px){

    nav {
        display: flex;
        justify-content: flex-end;
        position: fixed;
        width: 100vw;
        height: 50px;
        z-index: 100;
        background: rgba(0,0,0,0.8);
        backdrop-filter: saturate(180%) blur(10px);
        -webkit-backdrop-filter: saturate(180%) blur(10px);
        color: rgba(200, 229, 255, 0.8);
    }
    
    nav a:link{color:inherit}
    nav a:visited{color:inherit}
    nav a:hover{color:inherit}

    nav ul{
        display: flex;
        flex-direction: row;
        width: 100%;
        align-items: center;
        justify-content: space-evenly;
        text-align: center;
    }

    ul:hover {
        justify-content: space-evenly;
    }


    nav li {
        width: 80px;
        display: flex;
    }
    
    nav a {
        user-select: none;
        font-family: 'Cinzel', serif;
        font-size: 16px;
        text-decoration: none;
    }
    
    nav .active {
        color: rgba(200, 229, 255, 0.8);
        text-shadow: 0px 0px 8px rgba(200, 229, 255, 1);
        font-weight: 600;
    }
    
    @keyframes text_glow {
        0% {
            color: rgba(200, 229, 255, 0.8);
        }
        100% {
            color: rgba(200, 229, 255, 1);
            text-shadow: 0px 0px 6px rgba(200, 229, 255, 1)
        }
    }
    
    nav a:hover{
        animation: text_glow 1s ease-in-out alternate infinite;
    }

    .container {
        display: grid;
        grid-template-columns: 1fr 1fr;
        align-items: unset;
    }
    
    .container figure {
        grid-column: span 1;
        grid-row: span 1;
        display: flex;
        align-items: center;
        justify-content: center;
        overflow: hidden;
        border: 2px solid white;
    }
}

@media all and (min-width: 800px){

}